/*------------------------------------------------------------------

@Author: CodeoStudio
@URL:    http://codeostudio.hr/

[Table of contents]

1. Container
2. Post single

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	1. Container
-------------------------------------------------------------------*/
#cs-wrapper.boxed {
	width: 1020px
}
.cs-container {
	width: 940px
}
.cs-col {
	float: left
}

/*------------------------------------------------------------------
    2. Post single
-------------------------------------------------------------------*/
.cs-post-item .cs-post-meta-details.fixed .cs-meta-holder {
    width: 940px
}